body{
    background-color: #333;
    color: #fff;
    margin:0;
}
.title{
    width: 300px;
    background-color: red;
}
.box{
    background-color: purple;
    color: white;
    width: 200px;
    height: 200px;
    margin:auto;
}