/* 
Margin:
    Es la propiedad que nos permite generar espacio entre elementos.
    Es un shorthand (propiedad abreviada) que controla los 4 lados posibles a los que dar margenes.
        margin-top: Margen superior.
        margin-right: Margen derecho.
        margin-top: Margen inferior.
        margin-left: Margen Izquierdo.

        Admite 4 valores que van en el orden de las agujas del reloj.
        4 valores -> margin: top right bottom left;
        3 valores -> margin: top left / right bottom;
        2 valores -> margin: top/bottom left/right;
        1 valor -> margin: top/right/bottom/left;
*/
body{
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
}
.box{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 255);
    width: 200px;
    height: 200px;
    margin:100px 50px 30px 200px;
}
.inline{
    background-color: rgb(0, 255, 0);
    color: rgb(255, 255, 0 );
    margin-left: 100px;
    margin-right: 100px;
}
.box2{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 255);
    width: 200px;
    height: 200px;
    margin:auto;
}
.title{
    margin-left: auto;
    width:300px; 
    /* truco para tener un margin left auto en un elemento de bloque es NECESARIO darle un ancho WIDTH */
    background-color: coral;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
