/* 
Box Sahdow

La propiedad box-shadow se creo para añadir efectos de sombra a nuestra caja.

En escencia lo que hace crear un clon de la caja representando la forma de su box-model (ancho, alto, redondez).

La sintaxis de box-shadow se puede escribir de distintas formas segun lo que queramos conseguir.

Los valores que le podemos dar son:
    offset-x -> Desplazamineto en x (obligatorio).
    offset-y -> Desplazamiento en y (obligatorio).
    blur-radius -> Desenfoque de la sombra.
    spread-radius -> Expansion de la sombra
    color -> El color de la sombra, si no lo especificacmos lo heredará del elemento al que pertenece.
    inset -> Determina si la sombra será interior o exterior.
*/
*{
    box-sizing: border-box;
}
body{
    background-color: #333;
    color: rgb(255, 255, 255);
    margin: 0;
}