/* 
Box Sahdow

La propiedad box-shadow se creo para añadir efectos de sombra a nuestra caja.

En escencia lo que hace crear un clon de la caja representando la forma de su box-model (ancho, alto, redondez).

La sintaxis de box-shadow se puede escribir de distintas formas segun lo que queramos conseguir.

Los valores que le podemos dar son:
    offset-x -> Desplazamineto en x (obligatorio).
    offset-y -> Desplazamiento en y (obligatorio).
    blur-radius -> Desenfoque de la sombra.
    spread-radius -> Expansion de la sombra
    color -> El color de la sombra, si no lo especificacmos lo heredará del elemento al que pertenece.
    inset -> Determina si la sombra será interior o exterior.
*/
*{
    box-sizing: border-box;
}
body{
    background-color: #333;
    color: rgb(255, 255, 255);
    margin: 0;
}
.box-1{
    background-color:teal;
    margin-bottom: 50px;
    width: 350px;
    height: 220px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    box-shadow: 10px 20px 10px 5px #fff;
}
.box-2{
    background-color:teal;
    margin-bottom: 50px;
    width: 350px;
    height: 220px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    box-shadow: -10px -20px 10px 5px blue;
}
.box-3{
    background-color:teal;
    margin-bottom: 50px;
    width: 350px;
    height: 220px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    box-shadow: inset -10px -20px 10px 5px blue;
}
.box-4{
    background-color:teal;
    margin-bottom: 50px;
    width: 350px;
    height: 220px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    box-shadow: inset 10px 20px 10px 5px red;
}
.box-5{
    background-color:teal;
    margin-bottom: 50px;
    width: 350px;
    height: 220px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    box-shadow:inset  0px 0px 20px 0px #000;
}
.box-6{
    background-color:teal;
    margin-bottom: 50px;
    width: 350px;
    height: 220px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    box-shadow:inset  10px 0px 20px 0px #000;
}
.box-7{
    background-color:teal;
    margin-bottom: 50px;
    width: 350px;
    height: 220px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    box-shadow:inset  10px 10px 20px 0px #000;
}
.box-8{
    background-color:teal;
    margin-bottom: 50px;
    width: 350px;
    height: 220px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    box-shadow:inset  -10px -10px 20px 0px #000;
}
.box-9{
    background-color:teal;
    margin-bottom: 50px;
    width: 350px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    box-shadow:5px 5px 5px red, 10px 10px 5px green, 15px 15px 10px blue;
}
.box-10{
    background-color:teal;
    margin-bottom: 50px;
    width: 350px;
    height: 220px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    box-shadow:inset  5px 5px 5px teal, inset 10px 10px red, inset 15px 15px 10px green;
}
.box-11{
    background-color:teal;
    margin-bottom: 50px;
    width: 350px;
    height: 220px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px teal, 10px 10px 5px red, 15px 15px 5px teal;
}

















