/* 
Text Align
    Es la propiedad que nos permite alinear horizontalmente el contenido de un elemento de bloque sieempre que el contenido NO TENGA ANCHO DECLARADO.

    Acepta 4 posibles valores 
        text-align: left; -> Alinea el contenido a la izquierda.
        text-align: right; -> alinea el contenido a la derecha.
        text-align: center; -> Alinea el contenido al centro.
        text-align: justify; -> Alinea el contenido de forma justificado, No es recomendable usarlo.

*/
body{
    background-color: #333;
    color:#fff;
    margin: 0;
}
.text{
    text-align: right;
    text-align: center;
    margin-bottom: 20px;
}
.box{
    width: 100px;
    height: 50px;
    background-color: red;
    border: 4px solid black;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
.enlace{
    display: block;
    color: #fff;
    text-align: center;
    background-color: #666;
    margin-bottom: 20px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.img1{
    display: block;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}
.img2{
    width: 250px;
}
.container{
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: blue;
    overflow: auto;
    margin-left: auto;
    margin-right: auto  ;
}