/* Selectores Agrupados */
.header{
    background-color: rgb(128, 128, 128);
    color:aliceblue
}
.subheader{
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
}
.text, .text-2, .text-3, .text-4{
    background-color: steelblue;
    color: rgb(255, 255, 0);
}